 #chicken-section
 {
    background-color: grey;
    margin: auto;
 }
 #beef-section
 {
    background-color: grey;
    margin: auto;
 }
 #sushi-section
 {
    background-color: grey;
    margin: auto;
 }
.content{
    margin-top: -15px;
}
p.fw-bold
{
    font-weight: bold;
}
.chicken
{
    clear:both
}
#main-header
{
    color:antiquewhite
}